body {
  text-align: center;
  color: black;
  text-shadow: 2px 2px white;
  background-color: #0fa;
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
}

header {
  padding: 15px;
  background-color: black;
  box-shadow: 5px 5px 5px black;
}

h1 {
  font-size: 4rem;
}

h1:hover {
  color: black;
}
/* From https://css-tricks.com/how-to-create-neon-text-with-css/ */
.neonText {
  color: #fff;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #0fa,
    0 0 82px #0fa, 0 0 92px #0fa, 0 0 102px #0fa, 0 0 151px #0fa;
}

section {
  padding: 15px;
  margin-top: 15px;
}

.emoji {
  font-size: 4rem;
}

footer {
  background-color: black;
  color: white;
  text-shadow: 2px 2px #0fa;
}

.reviews {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row: auto auto;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  font-size: 1.5rem;
}

.review {
  list-style-type: none;
  padding: 5px;
  border: solid black 3px;
  box-shadow: 5px 5px 5px white;
}
