body {
  text-align: center;
  color: black;
  text-shadow: 2px 2px white;
  background-color: #dbf227;
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
}

header {
  padding: 15px;
  background-color: black;
  box-shadow: 5px 5px 5px black;
}

h1 {
  font-size: 4rem;
}

h1:hover {
  color: black;
}
/* From https://css-tricks.com/how-to-create-neon-text-with-css/ */
.neonText {
  font-family: 'Noto Sans Mono', monospace, sans-serif;
  color: #fff;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #dbf227,
    0 0 82px #dbf227, 0 0 92px #dbf227, 0 0 102px #dbf227, 0 0 151px #dbf227;
}

.section1 {
  padding: 15px;
  margin-top: 50px;
}

.section2 {
  padding: 15px;
  margin-bottom: 50px;
}

.emoji {
  font-size: 4rem;
}

footer {
  background-color: black;
  color: white;
  text-shadow: 2px 2px #dbf227;
}

.reviews {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row: auto auto;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  font-size: 1.5rem;
}

.review {
  list-style-type: none;
  padding: 5px;
  border: solid black 3px;
  box-shadow: 5px 5px 5px white;
}

.review:hover {
  filter: invert(100%);
}
/* From https://codepen.io/Digitango/pen/YQQBXR */
.emoji:hover {
  animation: wiggle 75ms infinite;
  animation-timing-function: linear;
}

@keyframes wiggle {
  0% {
    transform: translate(2px, 0);
  }
  50% {
    transform: translate(-2px, 0);
  }
  100% {
    transform: translate(2px, 0);
  }
}

.credits {
  font-size: 1rem;
}

img:hover {
  width: 525px;
}

img {
  border-radius: 50%;
}

a {
  color: black;
}
